<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="Last-Modified" content="{{now.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="../main.css" />
  <title>{{e.title}}</title>
</head>

<body>
  {% with root=".." %} {% include "header.html" %} {% endwith %}
  <main>
    <div id="e{{e.id}}" class="evento">
      <img src="{{e.img}}" loading="lazy" alt="{{e.titulo}}"/>
      <div class="info">
        <p class="titulo">
          <span title="{{e.precio}}€ -> {{precio}}€" class="descuento">{{e.descuento}}%</span>
          {{e.titulo}}
        </p>
        <p class="lugar"><a href="{{e.lugar.url}}">{{e.lugar.txt}}</a></p>
      </div>
      {% if e.sesiones %}
      <ol class="sesiones">
        {% for dia, sesiones in e.dias_hora %}
        <li>{{dia}}:{% for s in sesiones %} <a href="{{s.url}}">{{(s.hora or "comprar")}}</a>{%endfor%}</li>
        {% endfor %}
      </ol>
      {% endif %}
      {{e.condiciones | safe}}
    </div>
  </main>
  {% with root="." %}
  {% include "footer.html" %}
  {% endwith %}
</body>

</html>