<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Abono Teatro</title>
  <meta name="Last-Modified" content="{{now.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="main.css" />
  <script src="dev.js" type="text/javascript"></script>
  <script src="main.js" type="text/javascript"></script>
</head>

<body>
  {% with root="." %} {% include "header.html" %} {% endwith %}
  <main>
    <select id="categoria">
      <option value="">Todos</option>
      {% for c, num in categorias.items() %}
      {% if c != "otros"%}
      <option value="{{c | simplify }}">{{c.title()}} ({{num}})</option>
      {% endif %}
      {% endfor %}
      {% if "otros" in categorias %}
      <option value="otros">Otros ({{categorias['otros']}})</option>
      {% endif %}
    </select>
    {% for e in eventos %}
    <div id="e{{e.id}}" class="evento {{e.categoria | simplify}}">
      <div class="img">
        <img src="{{e.img}}" loading="lazy" alt="{{e.titulo}}" />
        <span class="categoria">{{e.categoria.title()}}</span>
      </div>
      <div class="info">
        <p class="titulo">
          <span title="{{e.precio}}€ -> {{precio}}€" class="descuento">{{e.precio | round | int}}€</span>
          <a href="./e/{{e.id}}">{{e.titulo}}</a>
        </p>
        <p class="lugar"><a href="{{e.lugar.url}}">{{e.lugar.txt}}</a></p>
      </div>
    </div>
    {% endfor %}
  </main>
  {% with root="." %} {% include "footer.html" %} {% endwith %}
</body>

</html>